/target
.vscode
bacon.toml
.DS_Store
Cargo.lock

# Ignore all TLS certificates and private keys
*.pem
*.key
*.crt
*.csr

# Allow only these specific certificates for development and testing
!examples/chat/cert.pem
!examples/chat/key.pem
!tests/cert.pem
!tests/key.pem